.section-input {
  position: relative;
  margin-bottom: 20px;
  &:focus-within {
    label {
      top: -10px;
      background-color: white;
    }
  }
  input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #b3acac;
    height: 40px;
    padding: 0 5px;
    &:focus {
      border-color: #b229ff;
      outline: 0;
    }
  }
  label {
    position: absolute;
    top: 8px;
    margin: 0 5px;
    color: #b3acac;
    font-size: 13px;
  }
}
